<IfModule mod_rewrite.c>  
    RewriteEngine On  

    # این خط فقط اجازه دهد درخواستهای واقعی فایلها و دایرکتوریها پردازش شوند  
    RewriteCond %{REQUEST_FILENAME} !-f  
    RewriteCond %{REQUEST_FILENAME} !-d  

    # تمام درخواست‌ها را به index.php ارسال کن  
    RewriteRule ^ index.php [L]  
</IfModule>  
